body {
  text-align: center;
}
.container{
  display: grid;
  grid-template-rows: 100px 5fr 100px;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 
    "header header"
    "main nav"
    "footer footer";
  grid-gap: .75em;
}
.textbox {
  border: 1px solid #f3f3f3;
  height: 2rem;
  box-sizing: border-box;
  padding: 1px 10px;
  outline: none;
  transition: 0.2s ease-in-out;
}

.textbox:focus {
  transition: 0.2s ease-in-out;
  border: 1px solid blue;
}

.sideBar li:hover {
  background-color: orangered;
}





